{
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "jest": true,
    "es6": true
  },
  "plugins": ["import"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "never"],
    "no-console": "warn",
    "no-eval": "error",
    "quotes": [2, "single"]
  }
}
